<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Tasks</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Tasks Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="task" #editForm="ngForm" (ngSubmit)="save()">
    
      <div class="form-group">
        <label>Id</label>
        {{task.id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="taskName">Title</label>
        <input [(ngModel)]="task.taskName" id="taskName" name="taskName" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="taskDone">Done</label>
        <input [(ngModel)]="task.taskDone" id="taskDone" name="taskDone" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="dueDate">Due</label>
        <input [(ngModel)]="task.dueDate" id="dueDate" name="dueDate" class="form-control">
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
