html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#task-list-wrapper {
  background-image: url("../../../assets/dlanham-SpaceDoggy.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
}
table {
  width: 80%;
  margin: 0 auto;
}

mat-paginator {
  width: 80%;
  margin: 0 auto;
}

mat-form-field {
  width: 33%;
  margin: 50px 33%;
  font-size: large;
}

::ng-deep .mat-form-field-underline {
  background-color: #fff !important;
}

#newBtn {
  margin: 50px 45%;
}
